@{
    ViewData["Title"] = "Política de Privacidad";
}

<div class="container mt-5">
    <div class="jumbotron p-5 mb-4 bg-light rounded-3 shadow">
        <h1 class="display-5">Política de Privacidad</h1>
        <p class="lead">Esta es nuestra política de privacidad. Aquí detallamos cómo se gestionan los datos de nuestros usuarios.</p>
    </div>
</div>
